{:run-dirs []
 :exclude-files []
 :symlinks-dir ""
 :analysis-output-dir ""
 :samplesheet-project-id ""
 :ncov2019-artic-nf-config {:version ""
                            :ref ""
                            :bed ""
                            :primer-pairs-tsv ""
                            :gff ""
                            :composite-ref ""}
 :ncov-tools-nf-config {:version ""}
 :config-reload-interval-ms 60000
 :exclude-files-reload-interval-ms 10000
 :repl false}
